*{
    box-sizing: border-box;
}
body{
    background:linear-gradient(.25turn,rgb(130, 193, 218),rgb(203, 238, 108));
    margin:0;
    padding:0;
}
.nav{
    width:100vw;
    height:75px;
    background-color: rgb(104, 134, 168);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
#currentnav{
    background-color: brown;
    border:2px solid black
}
.navitem{
    margin:auto 0px;
    background-color: chocolate;
    padding:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:15%;
    text-align: center;
    font-size: larger;
    color: black;
}
.navitem:hover{
    background-color: brown;
    border:5px solid black;
}
.navitem:active{
    background-color: white;
}
.navitem:visited{
    color:black
}
/*Main Web Page Style Begins Here*/
.header{
    background-color: black ;
    margin:0;
    font-family: sans-serif;
    padding: 1px;
}
h1{
    color:white;
    text-align:center;
}
.container{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:50px;
    max-width: 1400px;
    margin:0 auto;
    padding:50px 10px;
    
}
.container img{
    width:100%;
    max-width: 350px;
    height:300px;
    object-fit: cover;
    border-radius: 50px;
}
img:hover{
    height:310px;
    border:5px solid brown;
    opacity:.75
}